@import "./colorNames.scss";

body {
  background-color: $White;
  margin: 0px;
  font-family: "Poppins", serif;
  padding: 0;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 19rem));
  grid-template-rows: repeat(4, 13rem);
  gap: 15px 30px;
  height: 40rem;
  width: 90rem;
  padding: 1rem;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.grid-item {
  display: flex;
  flex-direction: column;
  height: 13rem;
  width: 19rem;
  background-color: $White;
  border-radius: 5px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
}

.info {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  padding-top: 1.2rem;
  height: 4rem;
}

.infoTitle {
  font-size: clamp(0.75rem, 1.5vw, 1.1rem);
  color: $GreyDark;
  font-weight: 500;
  margin: 0;
  margin-bottom: 4px;
}

.infoTitleTwo {
  margin: 0;
  font-size: 0.75rem;
  color: $Grey;
  font-weight: 300;
}

.icons {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1.8rem;
}

.iconsImage {
  width: 3.5rem;
}

.grid-item1 {
  border-top: 4px solid $Cyan;
  grid-row: 1 / 5;
}

.grid-item2 {
  border-top: 4px solid $Red;
  grid-row: 2 / 3;
}

.grid-item3 {
  border-top: 4px solid $Orange;
  grid-row: 3 /4;
}

.grid-item4 {
  border-top: 4px solid $Blue;
  grid-row: 1/ 5;
}

.mainContainer {
  height: auto;
  display: flex;
  padding: 1rem;
  width: auto;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.parentContainer {
  display: flex;
  flex-direction: column;
}

.informationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 13rem;
  margin-top: 2rem;
}

.headingOne {
  font-size: clamp(2rem, 2.5vw, 2.2rem);
  font-weight: 200;
  margin: 0;
  color: $Grey;
}

.headingTwo {
  font-size: clamp(2rem, 2.5vw, 2.2rem);
  font-weight: 500;
  margin: 0;
  color: $GreyDark;
}

.description {
  text-align: center;
  color: $Grey;
  font-size: clamp(0.75rem, 2.5vw, 0.8rem);
  margin: 0;
  font-weight: 400;
  margin-top: 10px;
  line-height: 130%;
}
@media only screen and (max-width: 600px) {
  body {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .mainContainer {
    width: 100%;
    min-width: 425px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .parentContainer {
    width: 100%;
    max-width: 320px;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .informationContainer {
    margin: 0;
    width: 100%;
    display: flex;
    text-align: center;
    padding-top: 2rem;
    height: auto;
    margin-bottom: 2rem;
  }

  .headingOne {
    font-size: clamp(1rem, 5vw, 1.4rem);
  }
  .headingTwo {
    font-size: clamp(1rem, 5vw, 1.8rem);
    margin-bottom: 10px;
  }
  .description {
    text-align: center;
    font-size: clamp(12px, 3vw, 16px);
  }

  .gridContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 2rem;
    height: auto;
    width: 100%;
    padding: 1rem;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 150px;
    width: 100%;
    background-color: $White;
    border-radius: 5px;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  }

  .grid-item1 {
    border-top: 4px solid $Cyan;
    grid-row: 1 / 1;
  }

  .grid-item2 {
    border-top: 4px solid $Red;
    grid-row: 2 / 3;
  }

  .grid-item3 {
    border-top: 4px solid $Orange;
    grid-row: 3 /4;
  }

  .grid-item4 {
    border-top: 4px solid $Blue;
    grid-row: 4/ 4;
  }

  .infoTitle {
    font-size: clamp(1rem, 5vw, 1.4rem);
  }

  .infoTitleTwo {
    font-size: clamp(0.5rem, 5vw, 0.8rem);
  }

  .iconsImage {
    padding-top: 1.3rem;
    width: 3rem;
  }
}

@media only screen and (min-width: 768px) {
  .mainContainer {
    width: 94%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .parentContainer {
    width: 100%;
  }

  .headingOne {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
  }

  .headingTwo {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
  }

  .description {
    font-size: clamp(0.6rem, 1.5vw, 0.8rem);
  }

  .gridContainer {
    gap: clamp(1px, 1vw, 15px) clamp(20px, 4vw, 30px);
    width: 95%;
    height: 25rem;
    margin: 0 auto;
    padding-top: clamp(0.5rem, 3vw, 2rem);
  }

  .grid-item {
    width: 100%;
    height: auto;
  }

  .infoTitle {
    font-size: clamp(0.6rem, 2.5vw, 1rem);
  }

  .infoTitleTwo {
    font-size: clamp(0.1rem, 1.2vw, 0.8rem);
  }

  .iconsImage {
    width: clamp(24px, 4vw, 48px);
    height: auto;
  }
}
